server:
  port: 8000
spring:
  application:
    name: server
  datasource:
    driverClassName: com.mysql.jdbc.Driver
#    initial-size: 10
#    max-active: 20
#    max-idle: 8
#    min-idle: 8
    password: lang432105
    url: jdbc:mysql://localhost:3306/test?characterEncoding=utf8&useSSL=false
    username: root
  jpa:
    database: MYSQL
#    hibernate:
#     自动生成用户表
#      ddl-auto: update
#      naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
    show-sql: true
#  thymeleaf:
#    cache: false
logging:
  level:
    root: WARN
    org.springframework.web: INFO
#    org.springframework.security: INFO

